@import "./var";
@import "./mixins";


@mixin form-size($size, $margin, $font) {
  &.is-#{$size} {

    .el-form-item__error {
      z-index: 100;
    }

    .el-form-item {
      margin-bottom: $margin;
    }

    .el-form-item__label {
      font-size: $font
    }

    .el-form--label-top .el-form-item__label {
      padding-bottom: 2px;
      line-height: 24px;
    }
  }
}


.magic-form {
  @include utils-fullParent;
  overflow: hidden;
  position: relative;
  min-height: 100px;
  padding-bottom: 65px;
  background: $base-panel-color;
  @include form-size('mini', 10px, 12px);
  @include form-size('small', 10px, 13px);
  @include form-size('medium', 14px, 14px);
  @include form-size('normal', 18px, 14px);

  &.hide-bottom {
    padding-bottom: 10px;
  }

  &-content {
    @include utils-fullParent;
    padding: 1px 16px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-col {
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  &-btn {
    @include utils-fixedBottom;
    @include utils-flexCenter;
    padding: 10px 16px;
    border-top: 1px solid $base-divider-color;

    &.is-shadow {
      box-shadow: $base-shadow;
    }

    &.is-center {
      text-align: center;
    }

    &.is-left {
      text-indent: 60px;
      text-align: left;
    }
  }

  &-card {
    padding-bottom: 4px;
    border-bottom: 1px solid $base-divider-color;

    &.has-borderRight {
      border-right: 1px solid $base-divider-color;
    }

    &:last-child {
      border-bottom: none;
    }

    &-title {
      font-size: $base-font-size-medium;
      color: $base-font-color-regular;
      padding: 8px 0;
      line-height: 32px;
    }
  }
}
