@import "./var";
@import "./mixins";

.magic-layer {
  @include utils-size(0px);
  position: fixed;
  top: 0;
  left: 0;

  &-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $base-mask-color;
  }

  &-content {
    @include utils-flexVertical;
    position: fixed !important;
    z-index: 200 !important;
    overflow: visible;

    .handle-br {
      @include utils-size(20px);
      display: block !important;
      right: 0;
      bottom: 0;
      border: none;
      background: transparent;
    }

    &.vdr {
      box-shadow: $base-shadow;
      background: $base-panel-color;
      border: 1px solid $base-border-color;
    }

    &.active:before {
      display: none;
    }

    &.is-draggable {
      .mg-layer-header {
        cursor: move
      }
    }
  }

  &-header {
    position: relative;
    text-align: left;
    overflow: hidden;
    margin: 0 20px;
    padding: 20px 80px 16px 0;
    color: $base-font-color-regular;
    font-size: $base-font-size-large;
    border-bottom: 1px solid $base-border-color;
  }

  &-tools {
    position: absolute;
    top: 32px;
    right: 8px;
    z-index: 100;
    cursor: pointer;
    transform: translateY(-50%);

    i {
      padding: 8px;
      color: $base-font-color-regular;
      font-size: $base-font-size-medium;
    }
  }

  &-body {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 5px 0 5px;
  }

  &-style {
    position: absolute;
    bottom: -25px;
    right: 0;
    color: #FFFFFF;
    font-size: $base-font-size-normal;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 10px 16px;
    border-top: 1px solid $base-border-color;
  }
}
