@import "./var";
@import "./mixins";

@mixin page-size($size, $vertical, $horizontal) {
  &.is-#{$size} {
    .magic-page-main {
      padding-top: $vertical;
    }

    .magic-page-title {
      padding: $vertical $horizontal;
    }

    .magic-page-top {
      padding: $vertical $horizontal;
    }

    .magic-page-table {
      padding: ($vertical / 2) $horizontal;
    }
  }
}

.magic-page {
  @include utils-fullParent;
  @include page-size('normal', $page-space-normal-vertical, $page-space-normal-horizontal);
  @include page-size('small', $page-space-small-vertical, $page-space-small-horizontal);
  @include page-size('medium', $page-space-medium-vertical, $page-space-medium-horizontal);
  padding: 20px;

  &-main {
    @include utils-fullParent;
    @include utils-flexVertical;
    background: $base-panel-color;
  }

  &-title {
    @include utils-flexCenter;
  }

  &-top {
    @include utils-flexCenter;
  }

  &-table {
    flex: 1;
    overflow: hidden;
  }
}
