@import "./var";
@import "./mixins";

.magic-tableCell-status {
  font-size: 14px;
  color: #666666;


  &::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &.is-green {
    &::before {
      background: #0AB877
    }
  }

  &.is-blue {
    &::before {
      background: #46BAFF
    }
  }

  &.is-red {
    &::before {
      background: #E6394E
    }
  }

  &.is-gray {
    &::before {
      background: #D7D7D9
    }
  }

  &.is-yellow {
    &::before {
      background: #F5A623
    }
  }
}

.magic-tableCell-file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: left;
  padding: 5px 0;
  cursor: pointer;

  &.is-row {
    padding: 6px 0;

    .magic-tableCell-file-img {
      width: 22px;
    }

    .magic-tableCell-file-name {
      font-size: 13px;
    }

    &:hover {
      background: #F1F2F3;
    }
  }


  &-img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    margin: 0 8px;
  }

  &-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    margin-left: 10px;
    font-size: 20px;
  }
}

.magic-tableCell-avatar {
  display: inline-block;

  &.is-circle {
    border-radius: 50%;
    overflow: hidden;
  }

  &-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
    font-size: 20px;
  }
}
